/* Shared*/
body{
  background-color: #060402;
  color: white;
}

/* Navigation menu */
  #menu {
      text-align: center;
      background-color: #060402;
  }

  #menu ul {
    height: auto;
    margin: 0px;
    padding: 8px 0px;
  }

  #menu li {
    display: inline;
    padding: 20px;
  }

  #menu a {
    text-decoration: none;
  }

  #nav-display-name {
    padding: 20px;
  }

/* Hero Section*/

.learn-more-button {
  text-align: center;
  height: 35rem;
  margin-top: 25rem;
}

.learn-more-button a {
  display: block;
  width: 20rem;
}

/*.hero {
  background: url('../images/hero.jpg') no-repeat; 
  color: white;
  background-size: 100% 100%;
}*/

.hero h2, h5 {
  padding: 1rem;
}

/* Experiences section containing past project and technology */
#tech-table{
  width: 60rem;
  text-align: center;
}

#tech-table span {
  display: block;
  text-align: center;
}

#tech-table img {
  vertical-align: top;
  padding: 0rem 1rem;
  margin: 0rem 1rem;
}

#tech-table th {
  text-align: center;
}

.badges {
  height: 50px;
  width: 50px;
  border-radius: 15px;
}

/* Contact section */
.contact span {
  font-size: 2.5rem;
}

/* Experience Table for professional project */

#exp-table td{
  vertical-align: text-top;
}

/* Scaling background using media queries */
@media only screen and (max-width: 480px) {
  .hero {
  background: url('../images/hero.jpg') no-repeat; 
  color: white;
  background-size: 130% 45%;
  background-position: center left;
  background-origin: content-box;
  }
}

@media only screen and (min-width: 481px) {
  .hero {
  background: url('../images/hero.jpg') no-repeat; 
  color: white;
  background-size: 110% 70%;
  background-position: center right;
  background-origin: content-box;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
  background: url('../images/hero.jpg') no-repeat; 
  color: white;
  background-size: 100% 100%;
  }

}

